kestra/flows/openaq_ingestion_flow.yml
id: openaq_ingestion
namespace: breatheflow
description: "Kestra flow to ingest OpenAQ air quality station snapshots into GCS."

tasks:
  - id: run-ingest
    type: io.kestra.plugin.http.tasks.Post
    uri: "https://openaq-ingest-194296449561.us-east1.run.app/run"
    headers:
      Authorization: "Bearer {{ outputs.get_id_token.token }}"
      X-OPENAQ-API-KEY: "{{ outputs.get_secret.value }}"
    body: "{}"
    connectTimeout: 10000
    readTimeout: 600000
    retries: 3
    retryDelay: "PT10S"
    outputs:
      - key: response
        value: "{{ body }}"
    env:
      GCP_PROJECT_ID: "{{ envs.GCP_PROJECT_ID }}"
      GCS_BUCKET_NAME: "{{ envs.GCS_BUCKET_NAME }}"

outputs:
  - id: get_secret
    type: io.kestra.plugin.scripts.shell.Commands
    commands:
      - python3 /opt/app/get_secret.py

  - id: get_id_token
    type: io.kestra.plugin.scripts.shell.Commands
    commands:
      - python3 /opt/app/get_id_token.py https://openaq-ingest-194296449561.us-east1.run.app

triggers:
  - id: hourly
    type: io.kestra.core.models.triggers.types.Schedule
    cron: "0 * * * *"
    timezone: UTC
